# ========================
# Sistema (basura)
# ========================
.DS_Store
._*
__MACOSX/
Thumbs.db

# ========================
# Editores
# ========================
.vscode/
.idea/

# ========================
# NetBeans (config local)
# ========================
nbproject/private/

# ========================
# Java compilado
# ========================
*.class

# ========================
# Builds (NO subir)
# ========================
build/
dist/
target/

# ========================
# Temporales
# ========================
*.log
*.tmp
*.swp
*.bak